
# Directories #
build/
bin/
config/
.vpprefdata/
logs/

docker-compose/deploy/*.*ar

#Maven
target/
 
# Eclipse
.settings/
.classpath
.project

#Intellij
.idea/
*.iml
*.iws

# Distribution
*.tar.*
*.gz

#Mac
.DS_Store

# React 
package-lock.json
node_modules/
*~

# Derby
derby.log

# Mergetools
*.orig

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
.recommenders/
dependency-reduced-pom.xml

# React
# See https://help.github.com/ignore-files/ for more about ignoring files.
webpack-example/

# dependencies
*/node_modules/*

# testing
*/coverage/*

# production
*/build/*
*/lib/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
