.navbar-brand {
	color: #FFFFFF !important;
	font-size: 20px;
	padding-left: 40px;
}

.navbar-right a {
	color: #d3d3d3 !important;
}

.navbar-right a:hover {
	color: lightcyan !important;
}

.navbar {
	color: #FFFFFF;
  background-color: #24485f;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-color: #444;
	border-radius: 0px !important;
	font-weight:bold;
}

.footer {
    height: 35px;
    background-color: rgba(0,0,0,.8);
    color: #0f0;
    padding-top: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
